<%- include('partials/header.ejs') %>

<div class="container">
  <h2>Edit Your Book</h2>

  <form action="/edit/<%= book.id %>" method="POST">
    
    <label>
      Title:<br>
      <input type="text" name="newTitle" value="<%= book.title %>" autocomplete="off">
    </label>
    <br>

    <label>
      Author:<br>
      <input type="text" name="newAuthor" value="<%= book.author %>" autocomplete="off">
    </label>
    <br>

    <label>
      ISBN:<br>
      <input type="text" name="newIsbn" value="<%= book.isbn %>" autocomplete="off">
    </label>
    <br>

    <label>
      Edit Your Notes:<br>
      <textarea name="newBookReview" cols="30" rows="5" autocomplete="off"><%= book.review %></textarea>
    </label>
    <br>

    <label>
      Rating:<br>
      <input type="number" name="newBookRating" min="1" max="10" value="<%= book.rating %>" >
    </label>
    <br>
    <label>
      Date Read:<br>
      <input type="date" name="newDateRead" value="<%= book.read_date ? new Date(book.read_date).toDateString() : "N/A" %>" required>
    </label>

    <br><br>

    <button type="submit" class="scndbtn">Update Book</button>
    <a href="/" class="btn" style="margin-left: 15px;">Back To Library</a>
  </form>
</div>
<%- include('partials/footer.ejs') %>